# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.zip
venv_eval/Environment
venv/
venv_eval/
env/
ENV/
.env
.venv
env.bak/
venv.bak/
test.py
# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Blood_group_detection_using_fingerprint/feature_extraction/data
# Project specific
dataset_blood_group/
dataset_prepared/
dataset_split/
saved_models/
temp/
*.db
checkpoints/
logs/
uploads/
feature_extraction/data/
prepare_dataset.py
# Large files and dependencies
*.h5
*.pyd
*.dll
*.so
*.dylib

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb

# Logs and databases
*.log
*.sqlite
*.db 